@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-color: #130c22;
	--secondary-color: #211735;
	--dark-color: #0f031a;
	--light-color: #f4f4f4;
	--danger-color: #dc3545;

	background-color: var(--primary-color);
	color: var(--light-color);
}

html {
	scroll-behavior: smooth;
}
