@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
	--primary-color: rgba(243, 243, 243, 1);
	--secondary-color: rgb(172, 172, 172);
	--tertiary-color: rgba(116, 116, 116, 1);
	--quaternary-color: rgba(37, 37, 37, 1);
	--quinary-color: rgba(12, 12, 12, 1);

	--accent-color: rgba(219, 182, 61, 1);

	--opaque-color: rgba(37, 37, 37, 0.4);

	background-color: black;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--quinary-color);
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--accent-color);
}

::-webkit-scrollbar-track {
	background-color: var(--background-color);
}

::-webkit-scrollbar-corner {
	background-color: var(--background-color);
}

body {
	font-family: 'Roboto', sans-serif;
	color: var(--primary-color);
}

::selection {
	background-color: var(--opaque-color);
	color: var(--accent-color);
}
